* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2.5%;
  background-color: white;
  width: 100%;
}

.navbar > p {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .navbar__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 60%;
    height: 100vh;
    padding: 2rem;
    background: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10rem;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }
}

.navbar__menu--active {
  right: 0;
}

.navbar__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  gap: 2rem;
}

@media only screen and (max-width: 767px) {
  .navbar__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navbar__menu-item > a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 767px) {
  .navbar__menu-item > a {
    font-size: 2rem;
  }
}

.navbar__menu-item > a:hover {
  color: #1C6BBA;
}

.menuBtn {
  width: 2rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  display: none;
  z-index: 99;
}

.menuBtn span {
  width: 2rem;
  height: 2px;
  background-color: #000;
}

@media only screen and (max-width: 767px) {
  .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10rem;
  z-index: 0;
  margin-top: 64px;
  background-image: url("/assets/images/Volvo.jpg");
  background-repeat: no-repeat;
  height: 1016px;
}

@media only screen and (max-width: 767px) {
  .header {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

.header__content {
  text-align: center;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 767px) {
  .header__content {
    margin-bottom: 2rem;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: #1C6BBA;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link:hover {
  color: #141414;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media only screen and (max-width: 767px) {
  .padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.margin {
  margin: 0 4rem;
}
/*# sourceMappingURL=style.css.map */