.header {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  z-index: 0;
  margin-top: 64px;
  background-image: url("/assets/images/Volvo.jpg");
  background-repeat: no-repeat;
  height: 1016px;

  @include breakpoint-down("md") {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  &__content {
    text-align: center;
    margin-bottom: 2.5rem;

    @include breakpoint-down("md") {
      margin-bottom: 2rem;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
