.navbar {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2.5%;
    background-color: white;

    >p {
        font-weight: $fontWeight1;
        font-size: 1rem;
        letter-spacing: 0.3em;
    }

    &__menu {
        width: 480px;

        &-list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        &-item {

            >a {
                text-decoration: none;
                color: black;
                transition: .2s;

                &:hover {
                    color: $colorRb;
                }

            }
        }
    }
}